@media screen and (max-width: 500px) {
  #container-header {
    position: unset;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  #container-tools,
  #container-patientinfo {
    position: unset;
    transform: none;
  }
}
